fastapi
uvicorn
gunicorn
python-dotenv
langchain
langchain-community
langchain-core
langchain-groq
langchain-openai
langchain-huggingface
langchain-google-genai
google-genai
langchain-postgres
psycopg2-binary
pgvector
pydantic